@page
@inject MvcHelper MvcHelper
@inject IStringLocalizer<WebStrings> localizer;
@model AboutModel
@{
    ViewData["Title"] = "About";
    MvcHelper.SetActiveMenuItem(ViewData, "About");
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<p>@localizer["Toggle navigation"]</p>

<p>@System.Threading.Thread.CurrentThread.CurrentUICulture</p>
