@inject MvcHelper MvcHelper
@model string

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="@ViewData["Description"]" />
<meta name="keywords" content="@ViewData["Keywords"]">
<meta name="author" content="@ViewData["Author"]">

<title>@MvcHelper.BuildTitle(ViewData, Model)</title>
