<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <partial name="Layouts/_HeadPartial" />
    @RenderSection("Head", required: false)
</head>
<body>
    @RenderBody()
    <partial name="Layouts/_ScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
